.icon-left {
  position: absolute;
  top: 10px;
  left: 10px;

}

.icon-right {
  position: absolute;
    top: 10px;
    right: 10px;
}

.season-display {
  height: 300px;
}

.winter {
  background-color: aqua;
}

.summer {
  background-color: yellow;
}